# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* How to use Code Cells vs Markdown Cells
* How to set up a table
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:
1) Python
2) SQL
3) R

 Some of the commonly used libraries used by Data Scientists include:
 1) NumPy
 2) Pandas
 3) Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| Apache Spark       |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
James Grajek